[Unit]
Description=Monitoring script
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/test_monit.sh

[Install]
WantedBy=multi-user.target
